.proj {
    display:  flex;
    flex:1 1 auto;
    flex-direction: column;
    min-width: 100%;
    min-height: 1020px;
     
        &__logo {
            text-align: center;
            width: 647px;
            margin: 90px auto 0px auto ;
            padding-bottom: 15px;
            border-bottom: 1px solid #F5D990;;
            p {
                font-weight: 600;
                font-size: 48px;
                line-height: 120.9%;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
        }

        &__row {
            display: flex;
            flex: 1 1 auto;
            justify-content: space-between;
            margin: 60px auto 90px auto ;
        }
        &__card {
            transition: 1s;
            p span {
                font-size: 18px ;
                font-weight: 400;
            }
            margin: 0px 40px 0px 40px;
            img { 
                margin-top: 15px ;
                margin-bottom: 20px ;
            }
            text-align: center;
            min-width: 320px;
            min-height: 380px;
            background: rgba(255, 242, 209, 0.79);
            box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.37);
            border-radius: 8px;
            p:first-of-type {
                font-weight: 300;
                font-size: 20px;
                line-height: 120.9%;
                letter-spacing: 0.05em;
                color:  #000000;
                padding-bottom: 15px;
                border-bottom: 1px solid #FFFFFF;
                margin-bottom: 20px;
            }
            // p:nth-child(2) {
            //     margin-bottom: 60px;
            // }
            p:last-of-type {
                font-weight: 300;
                font-size: 18px;
                line-height: 120.9%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000000;
                margin-bottom: 15px ;
            }
            
            button {
                transition: 1s;
                background: rgba(161, 61, 240, 0.8);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 21px;
                width: 192px;
                height: 38px;
                font-weight: 300;
                font-size: 24px;
                line-height: 120.9%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
        }
        &__card:hover {
            transition: 1s;
            box-shadow: 0px 4px 52px rgba(234, 222, 193, 0.2);
        }
        &__card2 {
            transition: 1s;
            p span {
                font-size: 18px ;
                font-weight: 400;
            }
            margin: 0px 40px 0px 40px;
            img { 
                margin-top: 15px ;
                margin-bottom: 20px ;
            }
            text-align: center;
            width: 320px;
            height: 380px;
            background: rgba(255, 242, 209, 0.79);
            box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.37);
            border-radius: 8px;
            p:first-of-type {
                font-weight: 300;
                font-size: 20px;
                line-height: 120.9%;
                letter-spacing: 0.05em;
                color:  #000000;
                padding-bottom: 15px;
                border-bottom: 1px solid #FFFFFF;
                margin-bottom: 20px;
            }
            p:last-of-type {
                font-weight: 300;
                font-size: 18px;
                line-height: 120.9%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000000;
                margin-bottom: 15px ;
            }
            button {
                transition: 1s;
                background: rgba(161, 61, 240, 0.8);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 21px;
                width: 192px;
                height: 38px;
                font-weight: 300;
                font-size: 24px;
                line-height: 120.9%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
        }
        &__card2:hover {
            transition: 1s;
            box-shadow: 0px 4px 52px rgba(234, 222, 193, 0.2);
        }
        &__card:nth-child(1) {
            p:last-of-type {
                margin-bottom:64px ;
            }
        }
        &__card:nth-child(2) {
            p:last-of-type {
                margin-bottom:40px ;
            }
        }
        &__card:nth-child(3) {
            p:last-of-type {
                margin-bottom:60px ;
            }
        }
        &__card2:nth-child(1) {

            p:first-of-type {
                margin-bottom: 15px ;
            }
            p:last-of-type {
                margin-bottom:15px ;
            }
        }
        &__card2:nth-child(2) {
            p:last-of-type {
                font-size: 17px;
                margin-bottom:15px ;
            }
        }
        &__card2:nth-child(3) {
            p:last-of-type {
                font-size: 17px;
                margin-bottom:15px ;
            }
           
        }

        button:hover {
            transition: 1s;
            box-shadow: 0px 4px 13px #A141EC;
        }
        
}

